<div class="navbar-header">
	<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " (click)="manage_sidebar()"><i class="fa fa-bars"></i></a>
</div>
<ul class="nav navbar-top-links navbar-right">
    <li>
        <span class="m-r-sm text-muted welcome-message">Welcome to Nightowl Class Room Control.</span>
    </li>
    <li class="dropdown">
    <li>
        <a (click) = "Logout()">
            <i class="fa fa-sign-out"></i> Log out
        </a>
        
    </li>
    <li>
        &emsp;&emsp;
    </li>
</ul>

