<li class="nav-header">
    <div class="dropdown profile-element"> 
        <span>
            <img alt="image" class="img-circle" src="../assets/img/logo.png" />
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" (click)="selecTag()">
            <span class="clear"> 
                <span class="block m-t-xs">
                    <strong class="font-bold">{{Fname}} {{Lname}}</strong>                   
                </span> 
                <span class="text-muted text-xs block">
                    {{group_name}} <b class="caret"></b>
                </span> 
            </span> 
        </a>
        <ul id="selectList-sd" class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
                <a data-toggle="modal" href="#modal-users" (click)="selecTag()">Edit Profile</a>
            </li>
            <li>
                <a data-toggle="modal" href="#modal-users2" (click)="selecTag()">Change Password</a>
            </li>          
        </ul>
    </div>
    <div class="logo-element">
    IN+
    </div>
</li>
