<div class="col2-sm-10"><div class="col-sm-6"></div><p style="color: red">{{message}}</p></div>
<form #input="ngForm">

    <div class="form-horizontal2">
        <div class="form-group2 col2-sm-12">
			<div class="col2-sm-6">
				<div class="input-group-btn">
	               	<button tabindex="-1" class="btn btn-white btn2-sm" type="button" (click)="selecTag()">&emsp;{{row}}&emsp;</button>
	               	<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn2-sm" type="button" (click)="selecTag()"><span class="caret"></span></button>
		               <ul  id="selectList" class="dropdown-menu">
		               	   <li><a (click)=manageRow(10)>10</a></li>
		                   <li><a (click)=manageRow(50)>50</a></li>
		                   <li><a (click)=manageRow(100)>100</a></li>
		                   <li><a (click)=manageRow(totalUsr)>Show all</a></li>                 
		               </ul>
           		</div>
			</div>
			<div class="col2-sm-6">
				<div class="col2-sm-7"></div>
				<div class="col2-sm-5">					
					<input type="text" placeholder="Search for something..." class="form-control pull-right input-sm" name="search" [(ngModel)]="filter">
				</div>
			</div>
        </div>                   
    </div>    
 	<table class="table table-striped table-bordered table-hover ">
		<thead>
			<tr>						
				<th style="width: 50px" (click)="sort('id',0)" class="{{class[1][0]}}">
					ID<span class="fa fa-sort{{class[0][0]}} pull-right"></span>
				</th>				
				<th (click)="sort('Username',1)" class="{{class[1][1]}}">
					Username<span class="fa fa-sort{{class[0][1]}} pull-right"></span>
				</th>
				<th (click)="sort('Lname',2)" class="{{class[1][2]}}">
					Lastname<span class="fa fa-sort{{class[0][2]}} pull-right"></span>
				</th>
				<th (click)="sort('Fname',3)" class="{{class[1][3]}}">
					Firtname<span class="fa fa-sort{{class[0][3]}} pull-right"></span>
				</th>
				<th (click)="sort('CardID',4)" class="{{class[1][4]}}">
					CardID<span class="fa fa-sort{{class[0][4]}} pull-right"></span>
				</th>								
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: row, currentPage: p };">				
				<td class="text-center" style="padding: 6px 0">{{user.id}}</td>
				<td>{{user.username}}</td>
				<td>{{user.Lname}}</td>
				<td>{{user.Fname}}</td>
				<td>{{user.cardID}}</td>			
        <td hidden="hidden">                                                       
          <button type="submit" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>					
			</tr>
		</tbody>
	</table>
	<p>Showing 1 to {{row}} of {{totalUsr}}</p>
	<div class="pull-right">
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div><br><br>

 </form>


